<!-- this component is to show top menus  -->
<div class="container-fliud">
    <div class="row">

<mat-toolbar color="primary">
<div class="col-md-4"></div>
<div class="col-md-4"></div>
<div class="col-md-4">

    <span >
        <a mat-button >  
           <mat-icon>
            <span class="material-symbols-outlined">
                width_normal
                </span>
            </mat-icon> </a>
    </span>

    <span >

        <button routerLink="" mat-raised-button color="primary">
            <span style="border:1px solid;color: white;">Sign In to Create an Account</span>
          </button>
        <a mat-button (click)="openFullscreen()" *ngIf="!isFullScreen"> 
           <mat-icon>
            open_in_full
            </mat-icon> </a>
    </span>

    <span >
        <a mat-button (click)="closeFullscreen()" *ngIf="isFullScreen"  > 
           <mat-icon>
                close_fullscreen
            </mat-icon> </a>
    </span>
</div>
</mat-toolbar>
    
    </div>
</div>
    




    


   