<!-- this component is to show side menu with links to home and users components  -->
<div>
    <h2>
    MENU
</h2>
</div>

<mat-drawer-container autosize>
    <mat-drawer #drawer opened="true" mode="side" position="start">
    <mat-nav-list>
        <mat-list-item >
        
           <div >  <button routerLink="Home"  style="vertical-align: top;" mat-button><span class="alignItems"><mat-icon  ><span class="material-symbols-rounded">
            widgets
            </span></mat-icon> Home</span></button></div>
        </mat-list-item>
        <mat-list-item>
            <button routerLink="Users" mat-button><span class="alignItems"><mat-icon><span class="material-symbols-rounded">
                widgets
                </span></mat-icon> Users</span></button>
        </mat-list-item>
            
    </mat-nav-list>
    </mat-drawer>
    <mat-drawer-content>
        <div style="text-align: center;min-height: 600px;">

            <router-outlet></router-outlet>
            </div>
    </mat-drawer-content>
</mat-drawer-container>