.vertical-align {
  display: flex;
  align-items: center;
  justify-content: flex-start; /* Align left */
}

.boxStyle {
  border: 0.625rem solid #d3d3d3; 
  margin: 1.25rem; 
  width: 22.5rem;
  height: 12.5rem; 

  
}

.boxContent {
  padding-top: 60px;
}