.vertical-align {
    display:flex;
    align-items:center;
    justify-content: flex-start; /* Align left */
  }

  .boxStyle
{
    border: 10px solid  #d3d3d3; 
    margin:20px;
    width:360px;
    height: 200px;
}

.boxContent
{
  padding-top:60px;
}